{
  "extends": "eslint-config-airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "mocha": true,
  },
  rules: {
    "arrow-body-style": 0,      // this is a little overzealous
    "no-use-before-define": ["error", "nofunc"],
    "space-infix-ops": 0,       // enforcement is too broad currently
    "quotes": 0,
    "no-unused-expressions": ["error", { "allowShortCircuit": true }],
    "array-bracket-spacing": 0,
    "object-curly-spacing": 0,
    "comma-dangle": ["error", "always-multiline"],
    "react/sort-comp": 0,   // I need to fiddle with this a bit
    "react/prop-types": 0   // little buggy right now (https://github.com/yannickcr/eslint-plugin-react/issues/494)
  },
  "plugins": [
    "react"
  ]
}
